:root {
  --red: #d32335;
  --light-gray: #f6f3ea;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

body {
  background: var(--light-gray);
  padding: 1rem;
}

div a:hover {
  background: var(--red);
  cursor: pointer;
}

a {
  color: var(--light-gray);
  text-decoration: none;
}

li {
  list-style: none;
}

.border-b {
  border-bottom: solid 4px black;
}

.flex, div {
  align-items: center;
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(61, 1rem);
  grid-template-rows: repeat(44, 1rem);
}

div:nth-child(1) {
  border: solid 0.5rem var(--light-gray);
  border-radius: 1rem;
  grid-column: 30/32;
  grid-row: 3/5;
  z-index: 3;
}

div:nth-child(2) {
  border-top-right-radius: 1rem;
  color: var(--light-gray);
  background: var(--red);
  grid-column: 30/32;
  grid-row: 3/34;
  writing-mode: vertical-lr;
  z-index: 1;
}

div:nth-child(3) {
  border-top-right-radius: 1rem;
  color: var(--light-gray);
  background: var(--red);
  font-size: 1.5rem;
  grid-column: 1/31;
  grid-row: 3/5;
}

div:nth-child(4) {
  border-radius: 1rem;
  grid-column: 30/32;
  grid-row: 32/34;
  z-index: 2;
}

div:nth-child(5) {
  background: black;
  grid-column: 28/60;
  grid-row: 30/32;
}

div:nth-child(6) {
  background: black;
  border-top-right-radius: 1rem;
  grid-column: 58/60;
  grid-row: 10/32;
  writing-mode: vertical-lr;
}

div:nth-child(7) {
  border-top: solid 4px black;
  background: var(--red);
  color: var(--light-gray);
  grid-column: 40/50;
  grid-row: 16/18;
}

div:nth-child(8) {
  background: var(--red);
  color: var(--light-gray);
  grid-column: 40/50;
  grid-row: 18/20;
}

div:nth-child(9) {
  background: var(--red);
  color: var(--light-gray);
  grid-column: 40/50;
  grid-row: 20/22;
}

div:nth-child(10) {
  background: var(--red);
  color: var(--light-gray);
  grid-column: 40/50;
  grid-row: 22/24;
}

div:nth-child(11) {
  background: var(--red);
  color: var(--light-gray);
  grid-column: 40/50;
  grid-row: 24/26;
}

div:nth-child(12) {
  background: black;
  color: var(--light-gray);
  grid-column: 32/58;
  grid-row: 10/12;
}

div:nth-child(13) {
  border: solid 0.5rem var(--light-gray);
  border-radius: 1rem;
  grid-column: 58/60;
  grid-row: 10/12;
  z-index: 2;
}

div:nth-child(14) {
  color: var(--light-gray);
  background: black;
  grid-column: 1/31;
  grid-row: 10/12;
}

div:nth-child(15) {
  color: var(--light-gray);
  background: var(--red);
  grid-column: 5/10;
  grid-row: 14/16;
}

div:nth-child(16) {
  background: black;
  color: var(--light-gray);
  grid-column: 10/22;
  grid-row: 14/16;
}

div:nth-child(17) {
  background: black;
  color: var(--light-gray);
  grid-column: 10/22;
  grid-row: 16/18;
}

div:nth-child(18) {
  background: black;
  color: var(--light-gray);
  grid-column: 10/22;
  grid-row: 18/20;
}

div:nth-child(19) {
  background: black;
  color: var(--light-gray);
  grid-column: 10/22;
  grid-row: 20/22;
}

div:nth-child(20) {
  background: black;
  color: var(--light-gray);
  grid-column: 10/22;
  grid-row: 22/24;
}

div:nth-child(21) {
  background: black;
  color: var(--light-gray);
  grid-column: 10/22;
  grid-row: 24/26;
}

div:nth-child(22) {
  background: black;
  color: var(--light-gray);
  grid-column: 10/22;
  grid-row: 26/28;
}

div:nth-child(23) {
  background: black;
  grid-column: 2/4;
  grid-row: 8/34;
}

div:nth-child(24) {
  background: var(--red);
  color: var(--light-gray);
  grid-column: 38/52;
  grid-row: 34/36;
}

div:nth-child(25) {
  background: black;
  color: var(--light-gray);
  grid-column: 38/52;
  grid-row: 36/38;
}

div:nth-child(26) {
  background: black;
  color: var(--light-gray);
  grid-column: 38/52;
  grid-row: 38/40;
}

div:nth-child(27) {
  background: black;
  color: var(--light-gray);
  grid-column: 38/52;
  grid-row: 40/42;
}

div:nth-child(28) {
  background: var(--light-gray);
  border: solid 1rem black;
  grid-column: 28/34;
  grid-row: 36/42;
}

div:nth-child(29) {
  background: var(--red);
  grid-column: 30/32;
  grid-row: 38/40;
}

div:nth-child(30) {
  color: black;
  grid-column: 22/24;
  grid-row: 14/28;
  writing-mode: vertical-lr;
  word-spacing: 4px;
}

@media screen and (max-width: 500px) {
  a {
    font-size: 0.8rem;
  }

  .grid {
    grid-template-columns: repeat(30, 0.8rem);
    grid-template-rows: repeat(98, 0.8rem);
  }

  div {
    font-size: 0.75rem;
  }

  div:nth-child(1) {
    grid-column: 26/28;
    grid-row: 3/5;
    z-index: 3;
  }

  div:nth-child(2) {
    border-top-right-radius: 1rem;
    grid-column: 26/28;
    grid-row: 3/34;
    writing-mode: vertical-lr;
    z-index: 1;
  }

  div:nth-child(3) {
    border-top-right-radius: 0;
    grid-column: 1/30;
    font-size: 1rem;
  }

  div:nth-child(5) {
    grid-column: 1/30;
    grid-row: 72/74;
  }

  div:nth-child(6) {
    grid-column: 28/30;
    grid-row: 44/72;
  }

  div:nth-child(7) {
    grid-column: 10/22;
    grid-row: 48/52;
  }

  div:nth-child(8) {
    grid-column: 10/22;
    grid-row: 52/56;
  }

  div:nth-child(9) {
    grid-column: 10/22;
    grid-row: 56/60;
  }

  div:nth-child(10) {
    grid-column: 10/22;
    grid-row: 60/64;
  }

  div:nth-child(11) {
    grid-column: 10/22;
    grid-row: 64/68;
  }

  div:nth-child(12) {
    border-top-right-radius: 1rem;
    grid-column: 2/30;
    grid-row: 44/46;
  }

  div:nth-child(13) {
    grid-column: 28/30;
    grid-row: 44/46;
  }

  div:nth-child(14) {
    grid-column: 1/30;
  }

  div:nth-child(16) {
    background: black;
    color: var(--light-gray);
    grid-column: 10/22;
    grid-row: 14/18;
  }

  div:nth-child(17) {
    background: black;
    color: var(--light-gray);
    grid-column: 10/22;
    grid-row: 18/22;
  }

  div:nth-child(18) {
    background: black;
    color: var(--light-gray);
    grid-column: 10/22;
    grid-row: 22/26;
  }

  div:nth-child(19) {
    background: black;
    color: var(--light-gray);
    grid-column: 10/22;
    grid-row: 26/30;
  }

  div:nth-child(20) {
    background: black;
    color: var(--light-gray);
    grid-column: 10/22;
    grid-row: 30/34;
  }

  div:nth-child(21) {
    background: black;
    color: var(--light-gray);
    grid-column: 10/22;
    grid-row: 34/38;
  }

  div:nth-child(22) {
    background: black;
    color: var(--light-gray);
    grid-column: 10/22;
    grid-row: 38/42;
  }

  div:nth-child(23) {
    grid-column: 2/4;
    grid-row: 8/50;
  }

  div:nth-child(24) {
    grid-column: 10/22;
    grid-row: 78/82;
  }

  div:nth-child(25) {
    grid-column: 10/22;
    grid-row: 82/86;
  }

  div:nth-child(26) {
    grid-column: 10/22;
    grid-row: 86/90;
  }

  div:nth-child(27) {
    grid-column: 10/22;
    grid-row: 90/94;
  }

  div:nth-child(28) {
    grid-column: 13/19;
    grid-row: 70/76;
  }

  div:nth-child(29) {
    grid-column: 15/17;
    grid-row: 72/74;
  }

  div:nth-child(30) {
    color: black;
    font-size: 0.9rem;
    grid-column: 22/24;
    grid-row: 14/42;
    writing-mode: vertical-lr;
    word-spacing: 8px;
  }
}









